<h2>Member Details</h2>

<table *ngIf="person" id="personDetails">
  <tbody>
  <tr>
    <td>Name :</td>
    <td id="personName">{{person.name}}</td>
  </tr>
    <tr>
      <td>Phone: </td>
      <td id="personPhone">{{person.phone}}</td>
    </tr>
    <tr>
      <td>Street: </td>
      <td id="personAddressStreet">{{person.address.street}}</td>
    </tr>
    <tr>
      <td>City: </td>
      <td id="personAddressCity">{{person.address.city}}</td>
    </tr>
    <tr>
      <td>State: </td>
      <td id="personAddressState">{{person.address.state}}</td>
    </tr>
    <tr>
      <td>Zip: </td>
      <td id="personAddressZip">{{person.address.zip}}</td>
  </tr>
  </tbody>
</table>
